.counter {
    text-align: center;
    padding: 20px;
    border: 2px solid #000;
}

.counter-number {
    font-size: 50px;
    margin-bottom: 10px;
}

.button {
    font-size: 20px;
    padding: 10px 20px;
    border: 1px solid #000;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;
}

.button:active {
    box-shadow: none;
    transform: scale(0.95);
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }
  
  .shake {
    animation: shake 0.4s ease;
  }